# Project exclude paths
/.gradle/
/chapter3-part4/build/
/chapter3-part4/build/classes/java/main/
/chapter3-part4-consumer/build/
/chapter3-part4-consumer/build/classes/java/main/
/chapter3-part4-admin/build/
/chapter3-part4-admin/build/classes/java/main/
/chapter3-part5-streams-admin/build/
/chapter3-part5-streams-admin/build/classes/java/main/
/chapter-part6-sourceconnector/build/
/chapter-part6-sourceconnector/build/classes/java/main/
/chapter4-part3-consumer/build/
/chapter4-part3-consumer/build/classes/java/main/